form {
    line-height: 14px;
    input, textarea {
        font-size: 14px;
        border: none;
        height: 2.8em;
        border-radius: 3px;
        padding: 0;
        text-indent: 10px;
        height: 2.5em;
    }
    input:focus, textarea:focus {
        outline: none;
        border-color: black;
        box-shadow: 0 0 5px black;
    }
    button {
        cursor: pointer;
        font-size: 14px;
        position: relative;
        height: 2.5em;
        border-radius: 3px;
        background-color: black;
        border: 1px solid black;
        width: 10%;
        color: white;
    }
}