@import "compass/reset";
@import "compass/css3";

body {
    background: #efefef;
    font-family: 'Helvetica Neue', sans-serif;
    overflow: hidden;
    background: url("../../images/starslarge.jpg") top no-repeat;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    top: 0;
    position: absolute;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.4);
    display: block;
    border-radius: 10px;
}
