doctype html
html(lang="en")
  head
    title Create New Event
    link(rel='stylesheet', href='css/stylesheets/main.css')
    (script type='text/javascript')
            $('#new-event-form').submit(function (e) {
            var that = this;
            $.post("/newevent", $(that).serialize()).done(function(data) {
            console.log("DATA TO POST: " + data)
            });
            window.location.href = "/"
            });
  body
    header
        a(href='/') 
            h1 Tufts Clubs
        div#searchbar(contenteditable="true") Search
    div#new-event
      h2 Tell us about your event!
      form#new-event-form(name='event-form')
        div.full
            label Title
            input#new-event-name(type='text', placeholder='Name', required='required')
        div.tiny
            label Event?
            input#new-event-isevent(type='checkbox', value='IsEvent')
        div.tiny
            label Free Food?
            input#new-event-freefood(type='checkbox', value='FreeFood')
        div.forty
            label Day (Format MMDDYYYY)
            input#new-event-date(type='text', placeholder='Date')
        div.forty
            label Time
            input#new-event-time(type='text', placeholder='Time')
        div.full
            label Location
            input#new-event-location(type='text', placeholder='Address')
        div.full
            label Description
            textarea#new-event-description(placeholder='Description', size='400', maxlength='400', required='required')
        div.full
            label Image
            input#new-event-image(name='image', type='file')    
        label Video
        input#new-event-video(type='text', placeholder='URL')
        button#new-event-button(type='submit') Submit