doctype html
html(lang="en")
  head
    title= "ClubHub"
    link(rel='stylesheet', href='css/stylesheets/main.css')
  body
    include header
    div#sidebar
        div#profile
            img#profpic(src='../images/profile-picture.jpg')
            div#about
                div Jorge Cafe
                div Class of 2015
            div#prof-clubs
                h1 Your Clubs
                div#student-clubs
                    a(href='/clubs/ClubBaseball') Club Baseball
                    a(href='/clubs/TheMingChow') The Ming Chow Fan Club
                    a(href='/clubs/SynchronizedSwim') Tufts Asynchronized Swimming
                    a(href='/sarabande') Sarabande
                    a(href='/clubs/CheeseClub') Cheese Club
                    a(href="/listclubs" alt="Browse All Clubs") Browse all clubs
    ul#feed
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js')
    script(type='text/javascript', data-main="js/app", src="js/libs/require.js")
    include templates