doctype html
html(lang="en")
  head
    title= "tuftsclubs"
    link(rel='icon', type='image/ico', href='images/favicon.ico')
    link(rel='stylesheet', href='css/stylesheets/main.css')
  body
    include header
    ul#clubs
        li Aepi
        li Tufts Mountain Club
        li Tufts Democrats
        li Tufts Compliments
        li 180 Degrees Consulting
        li Compass Fellows
        li Association of Latin American Students
        li Tufts Dance Collective
        li Burlesque
        li Kappa Alpha Theta
