script(type='text/template', id='eventTemplate').
    <div class="listitem <% if (isEvent) {event}  %>announcement">
    <span class="event-name"><%= name %></span>
    <span>
        <p>Hosted By <%= host %></p>
        <p><%= moment(date).format("MMMM Do YYYY, h:mm:ss a") %><p>
        <p><%= location %></p>
    </span>
    <% if (photourl != "null") { %><span><img src="<%= _.escape(photourl) %>"></span><% } %>
    <span><%= description %></span>
    <% if (freefood) { %> <div class="freefood"></div> <% } %>
script(type='text/template', id='studentProfile').
    <div id="profpic">
        <img src="<%= photo_url %>", alt="<%= name %>">
    </div>
    <ul id="about">
        <li><%= name %></li>
        <li>Class of <%= year %></li>
    </ul>
    <h1>Your Clubs</h1>
    <ul id="student-clubs"><%= clubs %><ul>
    <a href="/clubs" alt="Browse All Clubs">Browse all clubs</a>
script(type='text/template', id='clubProfile').
    <div id="profpic">
        <img src="<%= photo_url %>", alt="<%= name %>">
    </div>
    <ul id="about">
        <li><%= name %></li>
        <li><%= description %></li>
    </ul>
    <h1>Your Clubs</h1>
    <ul id="student-clubs"><%= clubs %><ul>
    <a href="/clubs" alt="Browse All Clubs">Browse all clubs</a>
script(type='text/template', id='modalTemplate').
    <div id="modal"> 
        <div id="modal-content"><%= data %></div>
    </div>